annotated-types==0.7.0
certifi==2025.10.5
charset-normalizer==3.4.3
greenlet==3.3.0
idna==3.10
playwright==1.58.0
psycopg2-binary==2.9.11
pydantic==2.11.7
pydantic_core==2.33.2
pyee==13.0.1
SQLAlchemy==2.0.44
sqlmodel==0.0.35
typing-inspection==0.4.1
typing_extensions==4.14.0
urllib3==2.5.0
